
<div class="container-fluid">
  <div class="row-fluid">
    

	  <div class="span10">
		

<h1>Exhibition Openings</h1>
<%= link_to '', new_event_path, "data-icon" => "plus", "data-iconpos" => "notext", "class" => "ui-btn-right" %>

<!--Body content-->
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
	</tr>
</thead>
<tbody>



	
	
       

	<% @events_day.sort.each do |day, events| %>
	<tr>
<% for event in events %>
<td><%= day.strftime('%A %d %B') %></td>
	<td><a href="events/<%= event.id %>" rel="external" class="btn btn-mini">View</a></td>
		<td><%= event.artist %></td>
		<td><%= event.name %> @ <%= event.company.name %></td>
	
		<td><%= event.starttime.to_time.to_s(:time) %> </td>
		
	</tr>
	<% end %><% end %>
      

	 </tbody>
	
	</table>
	
	</div>





  </div>
</div>