
<h1>Galleries Near <%= @city %></h1>
<%= link_to 'Add', new_company_path, "data-icon" => "plus", "class" => "ui-btn-right" %></div>

<div data-role="content"><div class="content-primary">	
 <ul data-role="listview" data-count-theme="b">
<% @companies.each do |company| %>
		<li>
		<a href="companies/<%= company.id %>">
		<img src="<%= company.image(:small) %>" height="115" />
	<h3><%= company.name %> </h3>
	<p><%= company.description %></p>
	<span class="ui-li-count"> 
<%= Geocoder::Calculations.distance_between([@long,@lat], [company.longitude,company.latitude]).round %> Km	</span>
	</a>
		</li>
	
		<% end %>	</ul>
		</div></div>
		
		
	