
<h1>Galleries Near Me <%= @city %></h1>
<%= link_to '', new_company_path, "data-icon" => "plus", "data-iconpos" => "notext" , "class" => "ui-btn-left", "data-theme" => "a" %>
<%= link_to '', '#', "data-icon" => "custom", "data-iconpos" => "notext" , "class" => "ui-btn-right", "id" => "find" %>


</div>

<div data-role="content"><div class="content-primary">	
 <ul data-role="listview" data-count-theme="b">
<% @companies.each do |company| %>
		<li>
		<a href="companies/<%= company.id %>">
		<img src="<%= company.image(:small) %>" height="115" />
	<h3><%= company.name %> </h3>
	<p><%= company.description %></p>
<span class="ui-li-count">Km	</span>
	</a>
		</li>
	
		<% end %>	</ul>
		</div></div>
		
		
	