<!DOCTYPE html>
<html>
<head>
  <title>Art Near Me</title>
<%= stylesheet_link_tag    "bootstrap" %>
<%= stylesheet_link_tag    "bootstrap-responsive" %>
<%= stylesheet_link_tag    "photoswipe" %>
<%= stylesheet_link_tag  "mobile" %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "klass.min" %>
<%= javascript_include_tag "code.photoswipe.jquery-3.0.4" %>
<meta name="apple-mobile-web-app-capable" content="yes" />
<%= javascript_include_tag('orientation') %>
<script type="text/javascript">

	(function(window, PhotoSwipe){
	
		document.addEventListener('DOMContentLoaded', function(){
		
			var
				options = {},
				instance = PhotoSwipe.attach( window.document.querySelectorAll('#Gallery a'), options );
		
		}, false);
		
		
	}(window, window.Code.PhotoSwipe));
	
</script>
<script type="text/javascript">
$(function() {

    $("h2")
        .wrapInner("<span>")

    $("h2 br")
        .before("<span class='spacer'>")
        .after("<span class='spacer'>");

});
</script>



<%= yield :head %> 
</head>
<body>
	
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			<%= link_to "ArtNearMe.com", companies_path, "class" => "brand" %> <%= @city %>

			<ul class="nav">
			  <li><%= link_to 'Galleries', companies_path %></li>

			<li><%= link_to 'Openings', events_path %></li>
			<li><%= link_to 'Exhibitions', exhibitions_path %></li>

			<li><%= link_to 'New Gallery', new_company_path %></li>
			<li><%= link_to 'GeoLocate', '#' %></li>
			<li><%= link_to 'My Profile', '#' %></li>
		</ul>

			</div>
		</div>
	</div>
<div class="span11 offset1">
<%= yield %>
</div>


	
</body>
<%= yield :scripts %>

</html>

